.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#autovideo {
  height: 100vh; /* Full viewport height */
  width: 100%; /* Set width to 100% to cover the container */
  object-fit: cover; /* Ensures the video covers the entire container without distortion */
  object-position: center top; /* Aligns the video to the top center */
  position: absolute;
  top: 0; /* Align the video container to the top */
  left: 0;
  z-index: 1; /* Keeps the video in the background */
}

/* Video class to ensure full container coverage */
.video {
  width: 100%;
  height: 100%; /* Ensure the video covers the entire container */
  object-fit: cover; /* Ensures the video covers the entire container without distortion */
  object-position: center top; /* Keeps the video aligned to the top */
}

/* Default desktop video visibility */
.desktop-video {
  display: block;
}

.mobile-video {
  display: none; /* Hide mobile video by default */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .desktop-video {
    display: none; /* Hide desktop video on smaller screens */
  }

  .mobile-video {
    display: block; /* Show mobile video on smaller screens */
  }
}


